/*COSTUM STYLES SCSS*/
.fotoslider{
  overflow: hidden;
  height: 650px;
}

.kenburns-top-right {
  -webkit-animation: kenburns-top-right 30s ease-out both;
  animation: kenburns-top-right 30s ease-out both;
  min-width: 110%;
  min-height: 110%;
}

@-webkit-keyframes kenburns-top-right {
  0% {
    -webkit-transform: scale(1) translate(0, 0);
    transform: scale(1) translate(0, 0);
    -webkit-transform-origin: 84% 16%;
    transform-origin: 84% 16%;
  }
  100% {
    -webkit-transform: scale(1.25) translate(20px, -15px);
    transform: scale(1.25) translate(20px, -15px);
    -webkit-transform-origin: right top;
    transform-origin: right top;
  }
}
@keyframes kenburns-top-right {
  0% {
    -webkit-transform: scale(1) translate(0, 0);
    transform: scale(1) translate(0, 0);
    -webkit-transform-origin: 84% 16%;
    transform-origin: 84% 16%;
  }
  100% {
    -webkit-transform: scale(1.25) translate(20px, -15px);
    transform: scale(1.25) translate(20px, -15px);
    -webkit-transform-origin: right top;
    transform-origin: right top;
  }
}
